:root {
  --primary-color: blue;
  --secundary-color: rgb(20, 20, 30);
}

.navbar-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-link {
  position: relative;
  padding-block: 6px;
  padding-inline: 10px;
  margin-inline: 10px;
  text-decoration: none;
  font-weight: bolder;
  overflow: hidden;
  border-bottom: 3px solid var(--secundary-color);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link .nav-text {
  color: #fff;
  letter-spacing: 1px;
  z-index: 1;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-hover {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav-link:hover {
  border-color: var(--primary-color);
}

.nav-link:hover > .nav-text {
  transform: scale(1.08);
}
